html {
    font-family: "Roboto", sans-serif;
}

.top-nav {
    position: fixed;
    background-color: rgb(217, 217, 217);
    height: 50px;
    width: 100%;
    /*margin-bottom: 100px; why it doesn't change anything*/
}

.top-nav p {
    display: inline-block;
    font-size: 120%;
    vertical-align: middle;
    line-height: 50px;
    padding-left: 11px;
    margin: 0px;
}

.top-nav ul {
    position: absolute;
    list-style: none;
    display: inline-block;
    right: 15px;
    margin: 0px;
}

.top-nav li {
    display: inline-block;
    font-size: 120%;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 50px;
}

.top-nav a {
    color: purple;
    text-decoration: none;
}

.input-container {
    padding-left: 100px;
    padding-top: 90px;
}

input {
    width: 500px;
    height: 30px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 3px;
}

::-webkit-input-placeholder {
    font-weight: bold;
    color: rgb(158, 158, 158);
}

.magnifying-glass {
    vertical-align: bottom;
    width: 32px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 3px;
}

.prev-next {
    margin-left: 100px;
    margin-top: 30px;
    width: 353px;
    height: 30px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 3px;
    font-size: 0;
}

.prev-next div {
    height: 30px;
    display: inline-block;
}

.prev-next div p {
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-size: 16px;
}

.prev-next a {
    color: black;
    text-decoration: none;
}

.one {
    width: 70px;
    border-right: 1px solid rgb(185, 185, 185);
}

.two {
    width: 210px;
    border-right: 1px solid rgb(185, 185, 185);
}

.three {
    width: 70px;
}

.positions {
    margin-top: 50px;
    margin-left: 100px;
}

.positions p {
    color: rgb(158, 158, 158);
}

.positions a {
    color: blue;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.positions a:hover {
    color: red;
}
